<footer class="bg-dark text-light mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <img src="{{ asset('/image/logo.png') }}" height="50px" style="margin-bottom: 50px" alt="logo">

                <p class="text-muted mb-3">
                    {{ 'footer.dergipark.slogan1'|trans }} {{ 'footer.dergipark.slogan2'|trans }}
                </p>
                <div class="social-links d-flex align-items-center mb-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-white mb-3">{{ 'footer.quick_links.title'|trans }}</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.home'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.journals'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.articles'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.authors'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.stats'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.quick_links.news'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-white mb-3">{{ 'footer.academic_resources.title'|trans }}</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.research_articles'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.review_articles'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.book_reviews'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.conference_papers'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.thesis_abstracts'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.academic_resources.editorial'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-white mb-3">{{ 'footer.support.title'|trans }}</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.help_center'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.faq'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.contact'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.feedback'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.tech_support'|trans }}</a></li>
                    <li class="mb-2"><a href="#" class="footer-link">{{ 'footer.support.user_manual'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="text-white mb-3">{{ 'footer.contact.title'|trans }}</h6>
                <div class="contact-info mb-3">
                    <p class="text-muted mb-2">
                        <i class="fas fa-envelope mr-2"></i>
                        info@dergipark.org.tr
                    </p>
                    <p class="text-muted mb-2">
                        <i class="fas fa-phone mr-2"></i>
                        +90 312 XXX XX XX
                    </p>
                    <p class="text-muted mb-3">
                        <i class="fas fa-map-marker-alt mr-2"></i>
                        Ankara, Türkiye
                    </p>
                </div>
            </div>
        </div>

        <div class="row border-top border-secondary pt-4 mt-4">
            <div class="col-lg-12">
                <div class="row text-center">
                    <div class="col-md-3 mb-3">
                        <div class="stat-item">
                            <h4 class="mb-1">2,847</h4>
                            <small class="text-muted">{{ 'footer.stats.active_journals'|trans }}</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="stat-item">
                            <h4 class="mb-1">156,432</h4>
                            <small class="text-muted">{{ 'footer.stats.published_articles'|trans }}</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="stat-item">
                            <h4 class="mb-1">89,234</h4>
                            <small class="text-muted">{{ 'footer.stats.registered_authors'|trans }}</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="stat-item">
                            <h4 class="mb-1">1,234,567</h4>
                            <small class="text-muted">{{ 'footer.stats.total_downloads'|trans }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
